<h1>My Friends</h1>
 <div class="search-aria mt-5">
  <h3>Search Friends</h3>
   <%= form_tag search_friend_path,remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9">
         <%= text_field_tag :friend , params[:friend], placeholder: "search by name or email..." , class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3">
       <%= button_tag type: :submit, class: "btn btn-success" do %>
  <%= content_tag(:i, "", class: "bi bi-search", "aria-hidden" => "true") %>
    <% end %>

 </div>
 </div>
   <% end %>
</div> 

<div class="mt-3" id="friend-results">
   
</div>

<% if !@friends.empty? %>
  <%= render 'friends/list' %>
<% end %>